<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>bd_user</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>bd_pw</param-name>
        <param-value>root</param-value>
    </context-param>
    <servlet>
        <servlet-name>Valida</servlet-name>
        <servlet-class>Servelets.Valida</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Menu</servlet-name>
        <servlet-class>Servelets.Menu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrosForce</servlet-name>
        <servlet-class>Servelets.ErrorsForce</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Valida</servlet-name>
        <url-pattern>/Valida</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Menu</servlet-name>
        <url-pattern>/Menu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrosForce</servlet-name>
        <url-pattern>/ErrosForce</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/notFound.html</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/erro.html</location>
    </error-page>
</web-app>
